.container {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.card {
    transition: transform 0.1s ease-out;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}